@model Review

<form class="form-group d-flex justify-content-between m-5" asp-controller="Reviews" asp-action="Create" method="post">
    <div class="d-flex flex-column justify-content-between mx-2 ">
    <h1 class="text-center"><em class="text-info">Create New Review</em></h1>
    <hr>
        @* TODO: Add event title *@
        <br>
        <label asp-for="Rating" class="text-info"><em>Rating</em></label>
        <select asp-for="Rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
        <br>
        <label asp-for="Description" class="text-info"><em>Description</em></label>
        <input asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
        <button class="btn btn-dark mt-3" type="submit">Submit Review</button>
    </div>
</form>