@* <div class="input-group">
    <div class="form-outline flex-fill">
    <input type="search" id="form1" class="form-control form-control-lg" />
    <label class="form-label" for="form1">Search events</label>
    </div>
    <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
    </button>
</div> *@

@model Event
<div class="text-center">
    <table>
        <thead>
            <th>Event Title</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Url</th>
        </thead>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Venue.Name</td>
            <td>@Model.Datetime_local.ToString("dd MMMM yyyy")</td>
            <td><a href="@Model.Url">Go To Event Page</a></td>
        </tr>
    </table>
</div>
