<div class="container-fluid my-5 ms-2">
    <h1 class="fs-2 text-info"><em class="text-secondary">Welcome,</em> @ViewBag.loggedUser.FirstName</h1>
</div>
@* <div class="container-fluid border border-2 border-dark">
    TODO: Display other users posts
</div>
<div class="container-fluid border border-2 border-dark">
    TODO: Display upcoming events
</div> *@