@{
    ViewData["Title"] = "Register | Login";
}
@* === Login/Register Page === *@
<h1 class="text-center m-4"><em class="text-info">Welcome to the Concert Grail!</em></h1>
<div class="d-flex justify-content-around">
    <div class="card p-3 m-2 w-50">
        <partial name="_Register"/>
    </div>
    <div class="card p-3 m-2 w-50">
        <partial name="_Login"/>
    </div>
</div>